<!DOCTYPE html>
<html>
<head>
    <title>주식 입문서</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">주식 입문서</h1>
        <p class="lead">본 주식 입문서는 초보자들을 대상으로 주식 시장에 대한 기본 개념과 투자 방법을 소개합니다.</p>
        <p class="lead">주식의 선정, 주문, 거래 방법, 리스크 관리, 기본 용어 및 개념 등을 설명하여 주식 투자에 대한 이해를 높이고, 실전에서 안정적이고 효과적인 투자를 할 수 있는 기반을 마련합니다.</p>
    </div>


    <section id="section1">
        <h2>1. 주식의 기본 개념</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="appropriate-image-url" alt="Stock Concept" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3>1-1. 주식의 정의</h3>
                <p>주식은 기업의 소유권을 나타내는 금융상품으로...</p>

                <h3>1-2. 주식과 암호화폐의 차이점</h3>
                <p>주식은 기업의 성장과 이익에 따라 가치가 변동하며...</p>
            </div>
        </div>
    </section>

    <section id="section?">
        <h2>?.</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="appropriate-image-url" alt="Stock Concept" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3>?-?.</h3>
                <p>_</p>

                <h3>?-?.</h3>
                <p></p>
            </div>
        </div>
    </section>

    <section id="section?">
        <h2>?.</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="appropriate-image-url" alt="Stock Concept" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3>?-?.</h3>
                <p>_</p>

                <h3>?-?.</h3>
                <p></p>
            </div>
        </div>
    </section>

    <section id="section?">
        <h2>?.</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="appropriate-image-url" alt="Stock Concept" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3>?-?.</h3>
                <p>_</p>

                <h3>?-?.</h3>
                <p></p>
            </div>
        </div>
    </section>

    <section id="section?">
        <h2>?.</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="appropriate-image-url" alt="Stock Concept" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3>?-?.</h3>
                <p>_</p>

                <h3>?-?.</h3>
                <p></p>
            </div>
        </div>
    </section>

    <section id="section?">
        <h2>?.</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="appropriate-image-url" alt="Stock Concept" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3>?-?.</h3>
                <p>_</p>

                <h3>?-?.</h3>
                <p></p>
            </div>
        </div>
    </section>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
